.main-block {
  display: flex;
  justify-content: center;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  margin: 0 20px;
}

.btn {
  padding: 0 0 20px;
}

.btn {
  background: transparent;
  border: none;
}

.App {
  text-align: center;
}